<div class="article-share" data-share-networks="<%= theme.customize.share_links %>">
  <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><i class="ion-android-share-alt"></i><%= __('share') %></a>
</div>