$block-caption
  text-decoration: none
  color: color-grey
  font-size: 14px
  margin-bottom: 15px

$block
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px

$block-wrap
  background-color: #fff
  box-shadow: 0 5px 10px rgba(color-default,0.1)

$article-header
  padding: article-padding
  text-align: center

  h1
    margin: 12px 0
    font-size: 32px
    text-transform: none
    letter-spacing: 0px
    font-weight: 300
    font-style: normal
    @media mq-mobile
      font-size: 24px


$type-style
  font-size: 16px
  line-height: 1.6em
  letter-spacing: 0.2px
  font-weight: 300
  font-style: normal
  color: #1f1f1f
  a
    color: color-link
    text-decoration: underline
  h1,h2,h3,h4,h5,h6
    line-height:2
    margin: 1em 0
    color: #000
    font-weight: 400

  img,audio, canvas, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  table
    border-collapse: collapse
    border-spacing: 0
  fieldset, img
    border: 0
  blockquote
    position: relative
    color: #999
    border-left: 1px solid color-border
    padding-left: 1.5em
    margin: 1em 3em 1em 2em
  acronym, abbr
    border-bottom: 1px dotted
    font-variant: normal
  abbr
    cursor: help

  del
    text-decoration: line-through

  address, caption, cite, code, dfn, em, th, var
    font-style: normal
    font-weight: 400

  ul, ol 
    list-style: none
  
  caption, th 
    text-align: left
  

  q:before, q:after 
    content: ''

  sub, sup 
    font-size: 75%
    line-height: 0
    position: relative
  
  :root sub, :root sup 
    vertical-align: baseline
  
  sup 
    top: -0.5em

  sub 
    bottom: -0.25em
  
  ins
    text-decoration: none

  u 
    text-decoration: underline
  
  mark 
    background: #fffdd1
    border-bottom: 1px solid #ffedce
    padding: 2px
    margin: 0 5px
  
