// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #000
color-white = #fff
color-grey = #989fa5
color-border = #e1e2e6
color-border-light = #f1f2f6
color-link = #1c1c1c
color-txt = #1f1f1f

// Fonts
font-size = 12px
line-height = 1.6em
line-height-title = 1.1em
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace

// Header
logo-size = 40px
header-height = 80px

// Layout
block-margin = 128px
article-padding = 32px
main-column = 6

// Grids
column-width = 120px

// Media queries
mq-sm = "screen and (max-width: 768px)"
mq-md = "screen and (min-width: 970px)"