// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #000
color-white = #fff
color-grey = #989fa5
color-border = #e1e2e6
color-border-light = #f1f2f6
color-link = #1c1c1c
color-txt = #1f1f1f
color-background = #f5f8f9
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
font-size = 12px
line-height = 1.6em
line-height-title = 1.1em
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace

// Header
logo-size = 40px
header-height = 80px

sidebar = hexo-config("sidebar")

// Layout
block-margin = 128px
article-padding = 32px

main-column = 9



// Grids
column-width = 120px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
