@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

*
  box-sizing: border-box
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu
  margin:0
  padding:0
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details
  display:block
table
  border-collapse:collapse
  border-spacing:0
caption,th
  text-align:left
  font-weight:normal
html,body,fieldset,img,iframe,abbr
  border:0
i,cite,em,var,address,dfn
  font-style:normal
[hidefocus],summary
  outline:0
li
  list-style:none
textarea
  overflow:auto
  resize:none
button
  border: 1px solid color-border
  background: none
label,summary
  cursor:default
a,button
  cursor:pointer
a 
  display: inline-block
  text-decoration: none
  color: color-link
  transition: all .4s ease-in-out
a:focus
  outline: thin dotted;
::-webkit-input-placeholder
  opacity: .5;

:-moz-input-placeholder
  opacity: .5;

:-ms-input-placeholder
  opacity: .5;
.clearfix:after
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
p
  margin-bottom: 1.4em
  text-align: justify
h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.3em
h4
  font-size: 1.2em
h5
  font-size: 1em
h6
  font-size: 1em

h1,h2,h3,h4,h5,h6
  font-weight: 100

hr
  border: 1px dashed color-border

.caption
  color: color-grey
  display: block
  font-size: 0.9em
  margin-top: 0.5em
  position: relative
  text-align: center

body
  font-family: PingFang SC,Helvetica Neue,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif
  font-size: font-size
  -webkit-text-size-adjust: 100%

.text-center
  display: inline
  text-align: center

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal
  width: 5px
  background-color: color-grey
  border-radius: 6px

::-webkit-scrollbar-track-piece
  background-color: #fff
  border-radius: 0

::-webkit-scrollbar
  width: 10px
  height: 8px

::-webkit-scrollbar-thumb:vertical
  height: 50px
  background-color: #999
  border-radius: 4px
  outline: 2px solid #fff
  outline-offset: -2px
  border: 2px solid #fff

::-webkit-scrollbar-thumb:hover
  height: 50px
  background-color: #666
  -webkit-border-radius: 4px

#container
  background-color: #fff
  min-height: 100vh
  width: 100%
  transition: transform .2s ease-in-out
.sidenavopen
  position: fixed
  transform: translate3d(-200px,0,0)
  .header-nav
    nav
      display: block
      a
        display: block

.content
  position: relative
  width: 100%
  margin: 0 auto
  transition all 0.5s ease-in-out


@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/tags"
@import "_partial/category"
@import "_partial/highlight"
