@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

*
  box-sizing: border-box
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu
  margin:0
  padding:0
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details
  display:block
table
  border-collapse:collapse
  border-spacing:0
caption,th
  text-align:left
  font-weight:normal
html,body,fieldset,img,iframe,abbr
  border:0
i,cite,em,var,address,dfn
  font-style:normal
[hidefocus],summary
  outline:0
li
  list-style:none
textarea
  overflow:auto
  resize:none
button
  border: 1px solid color-border
  background: none
label,summary
  cursor:default
a,button
  cursor:pointer
a 
  display: inline-block
  text-decoration: none
  color: color-link
  transition: all .4s ease-in-out
a:focus
  outline: thin dotted;
::-webkit-input-placeholder
  opacity: .5;

:-moz-input-placeholder
  opacity: .5;

:-ms-input-placeholder
  opacity: .5;
.clearfix:after
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both

hr
  border: 1px dashed color-border
  
h1,h2,h3,h4,h5
  font-weight normal

body
  font-family: PingFang SC,Helvetica Neue,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif
  font-size: font-size
  -webkit-text-size-adjust: 100%

.text-center
  display: inline
  text-align: center

#container
  background-color: #fff
  min-height: 100vh
  width: 100%
  transition: transform .2s ease-in-out
.sidenavopen
  position: fixed
  transform: translate3d(-200px,0,0)
  .header-nav
    nav
      display: block
      a
        display: block

.content
  position: relative
  width: 100%
  margin: 0 auto
  transition all 0.5s ease-in-out
sup
  font-family 'Source Code Pro', monospace
  font-size: 40%
.icon
  height: 1em
  width: 1em


@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/tags"
@import "_partial/category"
@import "_partial/highlight"
