<footer id="footer">
	<% for(var i in theme.customize.social_links) { %>
		<a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" >
			<i class="<%= theme.customize.social_icon_prefix %>-<%= i %>"></i>
		</a>
	<% } %>
</footer>
