<footer id="footer">
	<span class="copyright">&copy; <%= date(new Date(), 'YYYY') %></span> <svg class="icon"><use xlink:href="#heart" /></svg> <span class="author"><%= config.author %></span>
</footer>
