<input id="toggle" type="checkbox">
<label class="toggle-container" for="toggle">
  <span class="button button-toggle"></span>
</label>
<nav class="nav">
  <% for (var i in theme.menu){ %>
    <a class="nav-item" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
  <% } %>
</nav>
<a href="/" id="logo"><%= config.title %><sup>beta</sup></a>
