.archives-wrap
  margin: article-padding*2 0
  .archive-inner-wrap
    margin-bottom: article-padding*2
    .archive-title
      display: block
      text-align: center;
      font-size: 28px;
      line-height: 30px;
      font-weight: 500;
  .archives
    .archive-article:last-child
      border: none
    .archive-article
      border-bottom: 1px solid color-border-light;
      padding: article-padding*0.6
      .archive-article-inner
        color: color-grey
        .archive-article-title
          font-size: 16px
