.article-header
  position: relative
  text-align: center
  display: inline-block
  vertical-align: middle
  padding: article-padding 0
  z-index: 20
  .article-title
    h1
      margin: 12px 0
      font-size: 32px
      text-transform: none
      letter-spacing: 0px
      font-weight: 300
      font-style: normal
      @media mq-sm
        font-size: 24px

    .article-date, .article-category-link
      font-size: 16px
      color: color-grey
      font-weight: 300

    .article-category-link
      &:hover
        color: color-default

    @media mq-sm
      height: auto

.article-cover, .article-type-post
  position: relative
  top: -75px
  will-change transform

.article-cover
  width: 100%
  height: 66vh
  text-align: center
  overflow: hidden
  background-size: cover
  background-position: center
  z-index: 1
  @media mq-sm
    height: 45vh
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -.25em
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(255, 255, 255, .5)
    z-index: 10
  .article-header
    padding-top: article-padding*2
    .article-title
      h1
        font-size: 42px
        @media mq-sm
          font-size: 24px
      .article-date, .article-category-link
        font-size: 16px
        color: color-default

.article
  max-width: column-width * main-column
  padding: 0 article-padding*.5
  margin: block-margin*.5 auto 0 auto
  &:first-child
    margin-top: block-margin*1.5
    @media mq-sm
      margin-top: article-padding*1.5
  
  .article-header
    display: block

  .article-entry
    @extend $type-style
    
    .article-more-link
      margin: article-padding 0
      text-align: center
      font-family: Abel
      a
        line-height: 26px
        padding: 0 30px
        border-radius: 13px
        color: color-grey
        text-decoration: none
        &:hover
          color: color-default

  .article-footer
    padding: article-padding 0
    text-align: center
    .article-tag
      padding: 0 0 article-padding 0
      color: color-grey
      border-bottom: 1px dotted color-border
      margin-bottom: article-padding;
      a
        color: color-grey
        &:hover
          color: color-default

.article-type-post
  margin-top: 0
  .article-date
    display: block
    opacity: .7
    margin: article-padding auto

#article-nav
  clearfix()
  position: relative
  margin-top: article-padding
  &:before
    absolute-center(8px)
    content: ""
    border-radius: 50%
    background: color-grey

.article-nav-link-wrap
  text-decoration: none
  color: color-grey
  box-sizing: border-box
  text-align: center
  display: block
  width: 50%
  &:hover
    color: color-default

#article-nav-newer
  float: left
  text-align: right
  padding-right: 30px

#article-nav-older
  float: right
  text-align: left
  padding-left: 30px

.article-nav-caption
  letter-spacing: 2px
  line-height: 1em
  text-transform: uppercase
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  font-size: 0.85em
  margin-top: 0.5em
  line-height: line-height


.pagination
  margin: article-padding*1.5 auto
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    height: 30px
    color: color-txt
    background-color: #fff
    padding: 0 12px
    line-height: 30px
    text-align: center
    display: inline-block
    border-radius: 2px
    
  a
    text-decoration: none
    &:hover
      color: #fff
      background: color-default
      
    .page-number
      display: inline-block
  .current
    color: color-grey