.category-list
	max-width: column-width * main-column
	margin: block-margin*1.5 auto article-padding*3 auto
	font-size: 16px
	.category-list-item
		padding: article-padding*0.5
		.category-list-count
			padding-left: 4em
			font-size: 12px
			color: color-grey
