#footer
  padding-bottom: article-padding
  font-size: 12px
  text-align: center
  color: color-grey
  cursor: default
  line-height: 2
  word-spacing: .2em

  a
    color: color-grey
    &:hover
      color: color-link
