#footer
  padding: article-padding 0 article-padding 0
  font-size: 18px
  text-align: center
  a
    color: color-grey
    padding: 0 20px 
    text-decoration: none
    &:hover
      color: color-default
